* {
    background:     #1a1111;
    foreground:     #f1dedd;
    surface:        #1a1111;
    surface-high:   #322827;
    on-surface:     #f1dedd;
    
    primary:        #ffb3ae;
    on-primary:     #571e1c;
    primary-container: #733330;
    
    secondary:      #e7bdb9;
    error:          #ffb4ab;
    
    border-color:   @primary;
    selected-color: @primary;
    selected-fg:    @on-primary;
}
